header.flex {
    background-color: var(--footer-bg);
    color: var(--white);
    padding-block: 0.6rem;

    & .fa-solid {
        color: var(--white);
    }

    & .logo .fa-solid {
        font-size: 1.5rem;
    }

    & a .aum {
        color: var(--white);
    }


    & .sign-in:hover,
    & .register:hover {
        border: 1px solid rgb(152, 154, 189);
        padding: 0.5rem 1.1rem;
    }

    & .cart:hover {
        border: 1px solid rgb(152, 154, 189);
        padding: 0.5rem 1.1rem 0.5rem 0.7rem;
    }

    & .logo:hover {
        scale: 0.85;
    }

}


section.cart article.flex {
    background-color: white;
    border-top: 2px solid var(--footer-bg);
    margin-top: 1.8rem;
    justify-content: space-between;
    padding-inline: 1.1rem;
    max-width: 500px;
    margin-inline: auto;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: var(--mui-shadows-1, 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12));

    & .fa-trash-can {
        color: var(--red-button);
        margin-left: 0.1rem
    }

    ;

    & button.decrease {
        color: var(--logo);
        font-size: 1.5rem;
    }

    & .quantity {
        background-color: var(--footer-bg);
        color: var(--white);
        font-size: 0.8rem;
        height: 21px;
        width: 21px;
        border-radius: 50%;
        justify-content: center;
        margin-inline: 0.4rem;
    }

    & button.increase {
        color: var(--logo);
        font-size: 1.5rem;
    }
}

button.clear {
    background-color: var(--red-button);
    color: var(--white);
    margin-top: 1rem;
    border-radius: 12px;
    padding: 6px 8px;
    font-size: 0.8rem;
}

section.summary {
    background-color: var(--white);
    box-shadow: var(--mui-shadows-1, 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12));
    width: 250px;
    margin-inline: auto;
    margin-top: 2.4rem;
    border-radius: 12px;

    & h1 {
        font-size: 1.2rem;
        padding-block: 0.5rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    }

    & div.flex {
        padding-inline: 0.5rem;
        margin-block: 0.6rem;
        justify-content: space-around;
    }

    & button.ckeckout {
        width: 100%;
        background-color: var(--footer-bg);
        color: var(--white);
        padding-block: 6px ;
        border-radius: 4px;
        font-weight: 500;
        font-size: 0.9rem;
    }

    & a {
        padding-block: 0.5rem;
        font-size: .8rem;
        color: var(--red-button);
    }
}